.landing {
  position: relative;
  top: 15px;
  background: url("../img/currency-main.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.landing-box {
  position: relative;
  -webkit-animation: descoins-fade-up 2s;
  animation: descoins-fade-up 2s;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes descoins-fade-up {
  0% {
    opacity: 0;
    bottom: -50px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}
