.landing {
  height: 100vh;
  margin-top: -24px;
}

.landing-inner {
  padding-top: 80px;
}

.App {
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 400px) {
  .jumbotron h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .jumbotron p {
    font-size: 1rem;
    text-align: center;
  }
}
