.toast-slide-down {
  position: absolute;
  right: 2%;
  -webkit-animation: descoins-toast 2s;
  animation: descoins-toast 2s;
}

@keyframes descoins-toast {
  0% {
    opacity: 0;
    bottom: -10%;
  }

  70% {
    opacity: 1;
    bottom: 5%;
  }

  100% {
    opacity: 0;
    bottom: -8%;
  }
}
